In [1]:
# import pandas
import pandas as pd
import numpy as np

In [3]:
# import dataset
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')

In [5]:
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [7]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
age           943 non-null int64
gender        943 non-null object
occupation    943 non-null object
zip_code      943 non-null object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

In [13]:
# No of observations and no of features
print('no of observations: %s, no of features: %s' % (users.shape[0], users.shape[1]))

no of observations: 943, no of features: 4

In [14]:
# Last 10 entries
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [20]:
# Name of all features
users.columns # pandas.indexes.base.Index

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [25]:
# data types of each feature
users.dtypes # pandas.core.series.Series

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [26]:
# data type of age
users.dtypes['age']

dtype('int64')

In [30]:
# print only occupation column
users['occupation'].head()

user_id
1    technician
2         other
3        writer
4    technician
5         other
Name: occupation, dtype: object

In [32]:
# print only occupation column
users.occupation.head()

user_id
1    technician
2         other
3        writer
4    technician
5         other
Name: occupation, dtype: object

In [40]:
# Different occupations in the data set
users.occupation.value_counts().head() # pandas.core.series.Series

student          196
other            105
educator          95
administrator     79
engineer          67
Name: occupation, dtype: int64

In [44]:
# unique occupations in the dataset
users.occupation.unique() # numpy.ndarray

array(['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor'], dtype=object)

In [45]:
# number of unique occupations in the dataset
len(users.occupation.unique()) # numpy.ndarray

21

In [52]:
a = users.occupation.unique() # numpy.ndarray
a[0]

'technician'

In [57]:
# Summary of data
users.describe() # pandas.core.frame.DataFrame
#NOTE: Only Integer column

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [59]:
# Summarize all columns
users.describe(include= 'all') # pandas.core.frame.DataFrame

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

In [63]:
# summarize only occupation column
users.occupation.describe() # pandas.core.series.Series

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [73]:
# Alternatively by inputting dtype of the target feature/column
users.describe(include= ['int64'])

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [80]:
# Mean age of users
round(users.age.mean())

34

In [86]:
# age values with lease occurance
users.age.value_counts()

30    39
25    38
22    37
28    36
27    35
26    34
24    33
29    32
20    32
32    28
23    28
35    27
21    27
33    26
31    25
19    23
44    23
39    22
40    21
36    21
42    21
51    20
50    20
48    20
49    19
37    19
18    18
34    17
38    17
45    15
      ..
47    14
43    13
46    12
53    12
55    11
41    10
57     9
60     9
52     6
56     6
15     6
13     5
16     5
54     4
63     3
14     3
65     3
70     3
61     3
59     3
58     3
64     2
68     2
69     2
62     2
11     1
10     1
73     1
66     1
7      1
Name: age, dtype: int64

In [87]:
# age values with lease occurance
users.age.value_counts().tail(1)

7    1
Name: age, dtype: int64